*{box-sizing:border-box;} body{margin:0;}
@font-face{font-family:"Feather";src:url("../public/fonts/Feather.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_100Thin_Italic";src:url("../public/fonts/Inter_100Thin_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Montserrat_700Bold";src:url("../public/fonts/Montserrat_700Bold.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_800ExtraBold";src:url("../public/fonts/Inter_800ExtraBold.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_600SemiBold";src:url("../public/fonts/Inter_600SemiBold.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_800ExtraBold_Italic";src:url("../public/fonts/Inter_800ExtraBold_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_500Medium";src:url("../public/fonts/Inter_500Medium.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_400Regular_Italic";src:url("../public/fonts/Inter_400Regular_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_300Light";src:url("../public/fonts/Inter_300Light.ttf");font-weight:100 900;}
@font-face{font-family:"Montserrat_700Bold_Italic";src:url("../public/fonts/Montserrat_700Bold_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_400Regular";src:url("../public/fonts/Inter_400Regular.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_100Thin";src:url("../public/fonts/Inter_100Thin.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_500Medium_Italic";src:url("../public/fonts/Inter_500Medium_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_700Bold";src:url("../public/fonts/Inter_700Bold.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_200ExtraLight_Italic";src:url("../public/fonts/Inter_200ExtraLight_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_900Black_Italic";src:url("../public/fonts/Inter_900Black_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_300Light_Italic";src:url("../public/fonts/Inter_300Light_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_200ExtraLight";src:url("../public/fonts/Inter_200ExtraLight.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_700Bold_Italic";src:url("../public/fonts/Inter_700Bold_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_600SemiBold_Italic";src:url("../public/fonts/Inter_600SemiBold_Italic.ttf");font-weight:100 900;}
@font-face{font-family:"Inter_900Black";src:url("../public/fonts/Inter_900Black.ttf");font-weight:100 900;}
